<% content_for :title do %>FAQ<% end %>
<main class="js-app-container" data-view="faq" role="main">
  <header class="content-header">
    <div class="content-header__wrapper">
      <h1>Privacy Policy</h1>
    </div>
  </header>


  <div class="content-body">
    <div style="font-size: 1.21429rem;line-height: 2rem;" class="content-body__wrapper">
        <p> We measure visitors to our website using Google Analytics and our own Octo API.
          This records what pages you view within our site, how you arrived at our site and some basic information about your computer, like which Operating System, which browser.
          All of that information is anonymous – so we don’t know who you are; just that somebody visited our site. The information we collect from analytics helps us understand what parts of our sites are doing well, how people arrive at our site and so on. Like most websites, we use this information to make our website better.
        </p>
        <p>
          We store the cookie for a long time, longer than humans live. But this cookie is just used to see, if you will be visiting our site again. This cookie in no terms will store any personal information about you.
        </p>

    </div>
  </div>
</main>
<% content_for :scripts do %>
<% end %>
