<% content_for :title do %>FAQ<% end %>
    <main class="js-app-container" data-view="faq" role="main">
      <header class="content-header">
        <div class="content-header__wrapper">
          <h1>Frequently Asked Questions</h1>
        </div>
      </header>


      <div class="content-body">
        <div class="content-body__wrapper">
          <div class="question" id="faq-1">
            <div class="question__header">
              <h2><span class="number">1</span> I'm a developer<br>
                <strong>can we cut to the chase ?</strong></h2>
            </div>


            <div class="question__body">
              <p><strong><a href="https://developers.octo.ai">Nothing we like better</a></strong>
              </p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-2">
            <div class="question__header">
              <h2><span class="number">2</span> What is<br>
                <strong>Octo-Matic?</strong></h2>
            </div>


            <div class="question__body">
              <p class="large">According to Google, "Consumer behavior has changed forever. Today's battle for hearts, minds, and dollars is won (or lost) in intent-driven moments of decision-making and preference-shaping that occur throughout the entire consumer journey".</p>


              <p>Octo matic is an intelligent marketing software that uses Artificial Intelligence and deep learning to help marketer's automatically identify these intent driven moments and deliver meaningful and relevant content to their users at the right time, the right place by using the most appropriate channel. <strong>Google likes to refer to these on the go moments as "Micro-Moments"</strong><br>
                These are moments that occur when people reflexively turn to a device—increasingly a smartphone—to act on a need to learn something, do something, discover something, watch something, or buy something. They are intent-rich moments when decisions are made and preferences shaped. In these moments, consumers expectations are higher than ever.<br>
                <br>
                Octo-Matic Identifies these micro-moments and helps the user make intinctual decisions. This helps owners stand out in the crowded app space by providing truly personal and meaningful app experiences. &nbsp;</p>
            </div>
          </div>


          <div class="question" id="faq-3">
            <div class="question__header">
              <h2><span class="number">3</span> How does it <strong>work ?</strong></h2>
            </div>


            <div class="question__body">
              <p>We train our machines and algorithms to identify these micro-moments for each individual and eventually predict these moments along different stages of the his consumer journey.</p>


              <p>Octo decides whether to send a text message, Whatsapp, email , notification or show that info in his app feed so that all you have to worry about is producing the content and it takes care of the who and how and when of sending it.</p>


              <p>Octo collects comprehensive data segments about the user in real time and <strong>intelligently identifies what to send after analysing where they are, what device they're on and what their likely mindset is in that given moment.</strong></p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-4">
            <div class="question__header">
              <h2><span class="number">4</span> Why emphasize on these <strong>'moments'</strong> so much?</h2>
            </div>


            <div class="question__body">
              <p>When we are faced with time sensitive and pressure situations, we don’t really stop to think of options and possibilities; we pick the first solution that comes to our mind and solves the immediate problem</p>


              <p>To help us manage stress, we often experience a <strong>‘narrowing effect’</strong> , where we channel our focus toward a main task and filter out all other cues.</p>


              <p>Octo help marketers build their brand value and loyalty by<br>
                offering consumers <strong>quick, relevant information right when people are making intent driven decisions via their mobile.</strong></p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-5">
            <div class="question__header">
              <h2><span class="number">5</span> What is this <strong>“Narrowing Effect” ?</strong></h2>
            </div>


            <div class="question__body">
              <p>We have all been where Dave is<br>
                He had a late connection and just missed the last flight out for the night. He needs to book a hotel room for tonight! <strong>He's hoping to get one of the last available hotel rooms</strong> while calling his wife to rearrange child care drop-offs for the morning, and postponing his next morning's team meeting because he won't be there in time.</p>


              <p><strong>Dave is experiencing one of the typical impacts of time pressure—the so-called "narrowing effect"</strong> - and as a consequence he pays attention only to the hotel's proximity to the airport. He is more likely to focus on location and choose one of the first hotels he finds that fits his criteria.</p>


              <p>If Raj's hotel sends him a notification, as close to the airport as a hyatt and sends a fre cab coupon till his hotel. <strong>Dave is most likely to pick Raj's hotel.</strong></p>


              <p><strong>Octo helps marketer's reach the consumer in this corridor of “narrow effect” and give people the confidence to make informed decisions.</strong>
              </p>
            </div>
          </div>


          <div class="question" id="faq-6">
            <div class="question__header">
              <h2><span class="number">6</span> Do you have any<br>
                <strong>Data backing your claim?</strong></h2>
            </div>


            <div class="question__body">
              <p>Consider the following form a recent research by google;<br>
                <br>
                <ul style="list-style-type: disc">
                 <li>Of leisure travelers who are smartphone users, 69% search for travel ideas during spare moments, like when they're standing in line or waiting for the subway. Nearly half of those travelers go on to book their choices through an entirely separate channel.</li>
                  <li>Of smartphone users, 91% look up information on their smartphones while in the middle of a task.</li>
                  <li>Of smartphone users, 82% consult their phones while they're standing in a store deciding which product to buy. One in 10 of those end up buying a different product than they had planned.</li>
                  <li>Of online consumers, 69% agree that the quality, timing, or relevance of a company's message influences their perception of a brand.</li>
                </ul>
                <strong>Octo Enables marketers to help people define the choice criteria and the key factors for their decisions via seamless, real time and machine driven automatic interactions.</strong></p>
            </div>
          </div>


          <div class="question" id="faq-7">
            <div class="question__header">
              <h2><span class="number">7</span> What makes Octo <strong>intelligent ?</strong></h2>
            </div>


            <div class="question__body">
              <p>What makes it intelligent is how it decides what to send, who to send it to and when to send it. Octo can send notifications based on time, location, trends and user’s intent.</p>


              <p><strong>We help savvy marketers capture customers earlier in the decision-making process</strong> by delivering content that speaks to those explorative I-want-to-know or even I-want-to-be-inspired moments.</p>


              <p>Octo creates profiles for each stage of the user journey, decides what to send based on a combination all of these factors and then <strong>predicts the moment the customer would most likely engage with the content.</strong></p>
              <strong>True "Audience of one" Marketing</strong>
            </div>
          </div>


          <div class="question question--reverse" id="faq-9">
            <div class="question__header">
              <h2><span class="number">8</span> I think i get it, but what’s this fuss about <strong>“Audience of One”</strong> ?</h2>
            </div>


            <div class="question__body">
              <p><strong>Segmentation, No matter how small is still Segmentation</strong>, What each user needs is very subjective and developing a marketing strategy centered around an individual is a massively time consuming and impossible task.<br>
                <strong>Octo automatically analyses and learns form each individual user's history, real-time behaviour and Preferred choices to come up with an engagement strategy which caters to each user 1:1.</strong></p>
            </div>
          </div>


          <div class="question" id="faq-10">
            <div class="question__header">
              <h2><span class="number">9</span> Why should i use it though,<strong> Do I really need this?</strong></h2>
            </div>


            <div class="question__body">
              <p><strong>Your Customers want things right and want them right away</strong>. According to Forrester, it is the "Age of the Customer" and every company needs to develop their marketing strategy keeping that in mind.</p>


              <p>Octo matic helps you cultivate your core, loyal super users by treating each user as your most important one. <strong>Enables you to serve them content based on their interests and choices, delighting them with the extent of personalisation and keeps bringing them back for more.</strong></p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-11">
            <div class="question__header">
              <h2><span class="number">10</span> But i have come across other software which claims "Engangement Automation", <strong>What makes you guys different ?</strong></h2>
            </div>


            <div class="question__body">
              <p>Automation can be a confusing word and the meaning may depend on context. When platforms claim features like : 'automated notifications' and ‘marketing-automation’.</p>


              <p>What they usually do is <strong>reduce redundancy by automating repetitive tasks after a thorough manual configuration of almost every conceivable parameter.</strong></p>


              <p>Which Basically means that after you manually figure out the entire process on your own,learn and configure the ‘automation software’. It will take automatically perform a repetitive task for you.</p>


              <p>There is little to no self learning involved and almost no intelligence or insights that tell you what will work for a user or a particular segment. <strong>Octo Analyses all possible user or segment data and figures out a strategy to determine what is most likely to work with each user and it does it all without any human intervention.</strong></p>
            </div>
          </div>


          <div class="question" id="faq-12">
            <div class="question__header">
              <h2><span class="number">11</span> How do i know if Octo is <strong>actually making a difference ?</strong></h2>
            </div>


            <div class="question__body">
              <p>Our software includes a handy dashboard that helps you visualise how your users behave within the app; <strong>it gives you a real-time view of your App Engagement Analytics, Trends and Insights of your Key Pages, Product and Metrics.</strong></p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-13">
            <div class="question__header">
              <h2><span class="number">12</span> <strong>You got my attention,</strong> Tell me more about the features?</h2>
            </div>


            <div class="question__body">
              <p>Octo uses machine intelligence and deep learning algorithms to automatically figure what should be sent out to who and when. Some of our core features are;
                <br/><br/>
                <strong>1:1 Marketing</strong>- Communicate with the user like you would if he was in front of you<br>
                <br>
                <strong>Contextual Notifications</strong>- Delivers meaningful notifications which make sense<br>
                <br>
                <strong>Smart Content Streaming</strong>- Streams relevant and personal, feeds, videos Articles or any content.<br>
                <br>
                <strong>Intelligent Channel Mapping</strong>- Tells you Which channel to use to push what content<br>
                <br>
                <strong>Predictive Delivery</strong>- Predict what your user's will like. Delight & Wow them with content they want<br>
                <br>
                <strong>Smarter and Natural Language Analytics</strong><br>
                <br>
                <strong>Hands Off, Hands on</strong> - Autopilot does your job for you, hands on gives you complete control and suggests Daniel san, Always look in the eye.<br>
                <br>
                <strong>Space Dashboard</strong>- A world class dashboard which visually documents all the processes and gives a clear overview of your metrics.<br>
                <br>
                <strong>Historical data and Real time trends</strong>- Uses Historical Data And real time trends to figure the best 1:1 Marketing strategy.<br>
                <br>
                <strong>Unique User Profiling</strong>- All User level analytics, Historical Data and unique insights.</p>
            </div>
          </div>


          <div class="question" id="faq-14">
            <div class="question__header">
              <h2><span class="number">13</span> <strong>That’s exactly what i need,</strong> How do use it with my app?</h2>
            </div>


            <div class="question__body">
              <p>Octo is a seamless and quick integration . Just install it once and let it work it’s magic. Visit our <a href="http://developers.octo.ai">Set-up Page</a> for quick instructions.</p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-15">
            <div class="question__header">
              <h2><span class="number">14</span> I’m sure i won’t be able to afford it,<br>
                <strong>How much does this cost ?</strong></h2>
            </div>


            <div class="question__body">
              <p>Octo-Matic is completely <strong>free.</strong></p>
            </div>
          </div>


          <div class="question" id="faq-16">
            <div class="question__header">
              <h2><span class="number">15</span> What?<br>
                <strong>No really, how much?</strong></h2>
            </div>


            <div class="question__body">
              <p>Octo makes it’s money by charging large enterprises who have thousands of daily users based on their Api call limits, custom dashboards and insights needed.</p>


              <p>Which means it’s basically free for all SMB’S and we plan to keep it that way.</p>
            </div>
          </div>


          <div class="question question--reverse" id="faq-17">
            <div class="question__header">
              <h2><span class="number">16</span> Are you guys for real?<br>
                <strong>Prove it!?</strong></h2>
            </div>


            <div class="question__body">
              <a href="/contact">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </main>
<% content_for :scripts do %>
<% end %>
