<% content_for :title do %>Home<% end %>
<% content_for :styles do %>
  <style type="text/css">
  	/* Custom CSS for this page */

  </style>
<% end %>
    <main class="js-app-container" data-view="homepage" role="main">
      <!-- Hero -->


      <section class="homepage-hero" id="homepage-hero">
        <div class="homepage-hero__halo">
          <video class="u-hidden" id="video-halo"></video>
        </div>


        <div class="homepage-hero__blue">
          <div class="video-container">
            <video class="u-hidden" id="video-blue"></video>
          </div>
        </div>

        <div class="homepage-hero__wrapper">
          <div class="homepage-hero__content">
            <h1><span class="rotate">Aurora Borealis presents</span>
            </h1>


            <p class="highlight"><span class="splited-line"><span class="splited-line__wrapper">Meet <strong>Octo</strong></span><br>
            <span class="splited-line"><span class="splited-line__wrapper">Your Marketing</span> <span class="splited-line"><span class="splited-line__wrapper"><span class="rotate">Robot , Engagement Platform, Intelligent Notification Tool, Feed Automation System</span></span></span></span></span>
            </p>


            <p>Octo offers apps an innovative approach to automatically reach users in a way that is more <strong>useful for them;</strong> is <strong>dependent on their circumstances</strong> and helps them make <strong>Intent driven decisions.</strong></p>


            <p><a class="button button--white" href="/contact">Try it now</a> <a class="button button--white" data-scroll-to="" href="https://dashboards.octo.ai">Enterprise<span class="u-hidden-mobile"> App</span></a></p>
          </div>
        </div>
      </section>
      <!-- Hero -->


      <section class="homepage-app" id="homepage-app">
        <span class="triangle triangle--top-left js-triangle"></span>

        <div class="homepage-app__wrapper" data-wow-delay="0.5s">
          <div class="homepage-app__content">
            <h1><span>With Octo</span>
            </h1>


            <p class="highlight"><span class="splited-line"><span class="splited-line__wrapper">Delight</span></span> <span class="splited-line"><span class="splited-line__wrapper">your customers</span></span> <span class="splited-line"><span class="splited-line__wrapper">with</span></span> <span class="splited-line"><span class="splited-line__wrapper"><strong>Intellimoments™</strong></span></span></p>


            <p>Octo helps your consumers seamlessly get what they want at the right time, right place and in that frame of mind.<br>
              <br>
              With our <strong>"Audience of one"</strong> Marketing Platform.<br>
              <strong>Reach your customers when they need you, deliver what they want and cultivate core super users.</strong></p>

          </div>
          <span class="homepage-app__phone-hand"></span> <span class="homepage-app__pointing-hand-shadow"></span> <span class="homepage-app__pointing-hand"></span>
        </div>
      </section>
      <!-- Features -->


      <section class="homepage-features" id="homepage-features">
        <h1 class="u-visually-hidden">Features</h1>


        <div class="homepage-features__wrapper">
          <div class="homepage-features__background">
            <div class="carousel-background">
              <div class="carousel-background__canister">
                <div class="carousel-background__item"><img src="/assets/images/screen1.png">
                </div>


                <div class="carousel-background__item"><img src="/assets/images/screen2.png">
                </div>


                <div class="carousel-background__item"><img src="/assets/images/screen3.png">
                </div>
              </div>
            </div>
          </div>


          <div class="homepage-features__preview">
            <div class="carousel-preview">
              <div class="carousel-preview__canister"><img src="/assets/images/screen1.png"> <img src="/assets/images/screen2.png"> <img src="/assets/images/screen3.png"></div>
            </div>
          </div>


          <div class="homepage-features__content">
            <div class="carousel-bullets">
              <i></i> <i></i> <i style="opacity: 0;"></i>
            </div>


            <div class="carousel-content">
              <h2><span class="splited-line"><span class="splited-line__wrapper">Drive Conversions</span></span> <span class="splited-line"><span class="splited-line__wrapper"><strong>in Real-Time</strong></span></span></h2>
              <span class="icon"><i class="pe-7s-users pe-va" style="font-size:75px;"></i><!--[if gte IE 9]><!--></span>

              <p>Enables intent- driven real time conversions; which means we help you show up in front of the users when <strong>they are most likely to convert.</strong></p>
            </div>


            <div class="carousel-content">
              <h2><span class="splited-line"><span class="splited-line__wrapper">Measure</span></span> <span class="splited-line"><span class="splited-line__wrapper"><strong>User Engagement</strong></span></span></h2>
              <span class="icon"><i class="pe-7s-graph1 pe-va" style="font-size:50px;"></i><!--[if gte IE 9]><!--></span>

              <p>Find out insights on user level and figure out <strong>how they interact with the app</strong>, what <strong>they like interacting with and where they drop off.</strong></p>
            </div>


            <div class="carousel-content">
              <h2><span class="splited-line"><span class="splited-line__wrapper">Target User</span></span> <span class="splited-line"><span class="splited-line__wrapper"><strong>Micro-moments</strong></span></span></h2>
              <span class="icon"><i class="pe-7s-search" style="font-size:75px;"></i></span>

              <p><strong>83% Of consumers look at their phone</strong> for answers before making a purchase, be there when they search for services related to your sector and <strong>convert them with targeted offers.</strong></p>
            </div>
          </div>


          <div class="carousel-controls">
            <span class="icon"><button id="carousel-control-prev" type="button"><span class="icon"><span class="icon"><span class="icon"><span class="icon"><!--[if gte IE 9]><!-->
              <img class="icon icons8-Back" height="25" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABIklEQVRoQ93a0QkCQQwE0KQDS9EOtBK1Mi1JO7GDyMIJh4hwu5mZ3O13PvYl+RmI20aeb8RhpSARsXP3V09zy0Ai4mZmezM79WBKQCbEZZrEw90PS6cih3wh2v+v7n5fFSQL0dCyiWQiZJBshASCQNAhKAQVgkTQIGgEBcJAwCEsBBTCRMAgbAQEokCkQ1SIVIgSkQZRI1IgFRDDkCqIIUglRDekGmIE0jL1eZaru3L20lz+r7476kZEKUw3pHWnEmYIUgkzDKmCSYFUwKRB1JhUiBKTDlFhIBAFBgZhY6AQJgYOYWEoEAaGBkFjqBAkhg5BYSQQBEYGycZIIZkYOeQH5unu7QJi0SsBmWEa4LjaE45P6zdxVLNoj34Ul1mtUcgb7EfkM4wApkcAAAAASUVORK5CYII=" width="25"></span></span></span></span></button></span> <button id="carousel-control-next" type="button"><span class="icon"><img class="icon icons8-Forward" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABJUlEQVRoQ93awRFCMQgE0E0HlmIJWol2piVpJ3aAk5l4cbx8YFn8ueQUkgcnmAzsZI2dOBCCmNlhjPHqkAw3xMxuAI4Azh0wLshCXFclHh0wXshEzIp8lhzjgszXm1krjBvSDROCdMKEIV0wKZAOmDSIGpMKUWLSISoMBaLA0CDVGCqkEkOHVGFKIBWYMggbUwphYsohLIwEwsDIINkYKSQT0xHyBHDaOpmRQn70/S7ErKwMkomQQbIREggDUQ5hIUohTEQZhI0ogVQg6JAqBBVSiaBBqhEUiAKRDlEhUiFKRBpEjUiBdECEIV0QIUgnhBvSDRGB3AFcZgAA7vZ0nU/Z3K2umU3M/MKxeVCQ8vKvIG7IGuX8/6caRlYjMUMViVycffYN4oAOQkmrQ9sAAAAASUVORK5CYII=" width="25"></span></button>
          </div>
        </div>
      </section>


      <section class="homepage-specs" id="homepage-specs">
        <h1 class="u-visually-hidden">Specifications</h1>


        <div class="homepage-specs__wrapper">
          <div class="homepage-specs__item homepage-specs__item--sensor typeset" data-anim-scroll='{"offset": -60}'>
            <div class="thumb">
              <div class="thumb__wrap"><img src="assets/images/octo6.png">
              </div>


              <div class="thumb__mask">
              </div>
            </div>


            <div class="content">
              <h2><span class="splited-line"><span class="splited-line__wrapper">End to End</span></span> <span class="splited-line"><span class="splited-line__wrapper"><strong>Marketing Automation</strong></span></span></h2>


              <p>Octo is capable of automating the entire marketing pipeline of modern mobile applications.<br>
                From Smart User Acquisition to Onboarding, Engagement Automation to Uninstall Mapping. <strong><br>
                Octo uses AI and Nueral Networks to predict the best strategy for each user and octo-matically engages them.</strong></p>
            </div>
          </div>

          <hr>

          <hr>


          <div class="homepage-specs__item homepage-specs__item--water-quality typeset" data-anim-scroll='{"offset": 60}'>
            <div class="thumb">
              <div class="thumb__wrap"><img src="/assets/images/im3.png">
              </div>


              <div class="thumb__mask">
              </div>
            </div>


            <div class="content">
              <h2><span class="splited-line"><span class="splited-line__wrapper">High precision measurement</span></span> <span class="splited-line"><span class="splited-line__wrapper"><strong>of app usage</strong></span></span></h2>


              <p><strong>73% of companies are unsure about the science behind their marketing campaigns.</strong> Octo uses Deep Learning algorithms to analyse and give you <strong>intelligent machine derived alternatives to your User-feeds, Notification-Content, App-layouts, Offers , Emails and App-Homepage.</strong></p>
            </div>
          </div>

          <hr>

          <hr>


          <div class="homepage-specs__item homepage-specs__item--sensor typeset" data-anim-scroll='{"offset": 60}'>
            <div class="thumb" style="margin-top:15%;">
              <div class="thumb__wrap"><img src="/assets/images/octo84.png" style="width:80%;">
              </div>


              <div class="thumb__mask">
              </div>
            </div>


            <div class="content">
              <h2><span class="splited-line"><span class="splited-line__wrapper"><strong>Uses all available data endpoints</strong> for truly personalised marketing</span></span>
              </h2>


              <p>Octo is equipped with carefully engineered intelligence and algorithms that work 24/7 to find trends and insights that help you personalise content for your users</p>


              <p>You could send notifications based on <strong>Trends and Personal interests</strong> Deliver personalised and predictive content to <strong>increase engagement</strong> or greet customers with a <strong>new homepage designed specifically for them every time they log in.</strong></p>


              <p>
              </p>


              <p style="font-size:30px;">All done hands off, automatically, <strong>with Octo-Matic.</strong></p>
            </div>
          </div>

          <hr>

          <hr>
        </div>
      </section>
    </main>
<% content_for :scripts do %>
  <script type="text/javascript">
    // Custom JS for this page only
    $(".rotate").textrotator({
      animation: "dissolve", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
      separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
      speed: 3000 // How many milliseconds until the next word show.
    });
    $.octo.ajax(pageUrl, {userId:-1, browserDetails:browser_details_json, routeUrl:window.location.pathname}, {apikey: API_KEY});
  </script>
<% end %>